<html lang="en">

<%- include('./partials/head.ejs') %>


<body>

    <%- include('./partials/nav.ejs') %>


<div class="about content"> 
    <h2>About Us</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc scelerisque cursus est at congue. Maecenas eu justo vel dui tristique ultrices. Integer euismod augue non elit consectetur, et accumsan lorem luctus. Curabitur elementum efficitur turpis a tincidunt. Quisque ullamcorper sollicitudin nisl id convallis. Sed aliquet risus non mauris placerat, nec viverra odio fermentum. Fusce et ante elit. Nulla facilisi. Sed eget fringilla leo, ut bibendum lorem.</p>
</div>
<%- include('./partials/footer.ejs') %>
</body>

</html>